// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$header-bg: transparent;
$header-border: none;

$title-color: #ddd;

$nav-bg: desaturate(lighten(#437089, 18), 5);
$nav-bg-front: image-url('bg_blue50.png');
$nav-bg-back: transparent;
$nav-border-top: #333;
$nav-border-bottom: $nav-border-top;
$nav-color: #ddd;
$nav-color-hover: lighten($nav-color, 50);

$sidebar-color: #333;

$footer-bg: $nav-bg;
$footer-bg-front: $nav-bg-front;
$footer-bg-back: $nav-bg-back;
$footer-color: $nav-color;
$footer-link-color: #fff;
$footer-link-color-hover: darken($nav-color, 15);
$footer-border-top: $nav-border-top;
$footer-border-bottom: $nav-border-top;
