// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$tech-border: 1px solid #333;

html {
  background: image-url('bg_woody_bw.jpg') repeat fixed;
}
body {
  font-size: 1em;
  > header h1 { line-height: .7em; }
  > nav {
      border-left: $tech-border; 
      border-right: $tech-border; 
    }
  > footer { 
      border-bottom: $tech-border; 
      border-left: $tech-border;
      border-right: $tech-border;
    }
  > div {
      background: image-url('bg_white75.png');
      border-bottom: none;
    }
  > #main {
      border-left: $tech-border;
      border-right: $tech-border;
    }
}

a { text-decoration: none; }
a:visited { color: #1863A1; }

.subtitle {
  font-size: 1.1em;
  font-family: $header-subtitle-font-family;
  color: #000;
  font-weight: bold;
}

#content .blog-index article h1, h1 {
  font-size: 1.8em;
  line-height: 1.0em;
}
#content .blog-index article h1 a:hover, #blog-archives article h1 a:hover { 
  text-decoration: none;
}

aside.sidebar {
  font-size: 1.15em;
}

ul, ol {
  margin-left: 1em;
}
